In [89]:
### Run this cell before continuing.
library(tidyverse)
library(tidymodels)
library(tidyclust)
library(forcats)
library(repr)
library(lubridate)
library(dplyr)
options(repr.matrix.max.rows = 6)
#source("cleanup.R")

Read in the players.csv data using read_csv() and assign it to an object called players. The data is located within the data/ folder.

In [90]:
players <- read_csv("Data/players.csv")
players

Rows: 196 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): experience, hashedEmail, name, gender
dbl (2): played_hours, Age
lgl (1): subscribe

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    experience subscribe
1   Pro         TRUE
2   Veteran     TRUE
3   Veteran    FALSE
⋮   ⋮          ⋮
194 Amateur    FALSE
195 Amateur    FALSE
196 Pro         TRUE
    hashedEmail
1   f6daba428a5e19a3d47574858c13550499be23603422e6a0ee9728f8b53e192d
2   f3c813577c458ba0dfef80996f8f32c93b6e8af1fa939732842f2312358a88e9
3   b674dd7ee0d24096d1c019615ce4d12b20fcbff12d79d3c5a9d2118eb7ccbb28
⋮   ⋮
194 d572f391d452b76ea2d7e5e53a3d38bfd7499c7399db299bd4fedb06a46ad5bb
195 f19e136ddde68f365afc860c725ccff54307dedd13968e896a9f890c40aea436
196 d9473710057f7d42f36570f0be83817a4eea614029ff90cf50d8889cdd729d11
    played_hours name      gender            Age
1   30.3         Morgan    Male               9
2    3.8         Christian Male              17
3    0.0         Blake     Male              17
⋮   ⋮            ⋮         ⋮                 ⋮
194 0.0          Dylan     Prefer not to say 17
195 2.3          Harlow    Male              17
196 0.2          Ahmed     Other             NA

Read in the sessions.csv data using read_csv() and assign it to an object called sessions. The data is located within the data/ folder.

In [91]:
sessions <- read_csv("Data/sessions.csv")
sessions

Rows: 1535 Columns: 5
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (3): hashedEmail, start_time, end_time
dbl (2): original_start_time, original_end_time

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

     hashedEmail
1    bfce39c89d6549f2bb94d8064d3ce69dc3d7e72b38f431d8aa0c4bf95ccee6bf
2    36d9cbb4c6bc0c1a6911436d2da0d09ec625e43e6552f575d4acc9cf487c4686
3    f8f5477f5a2e53616ae37421b1c660b971192bd8ff77e3398304c7ae42581fdc
⋮    ⋮
1533 fd6563a4e0f6f4273580e5fedbd8dda64990447aea5a33cbb5e894a3867ca44d
1534 fd6563a4e0f6f4273580e5fedbd8dda64990447aea5a33cbb5e894a3867ca44d
1535 36d9cbb4c6bc0c1a6911436d2da0d09ec625e43e6552f575d4acc9cf487c4686
     start_time       end_time         original_start_time original_end_time
1    30/06/2024 18:12 30/06/2024 18:24 1.71977e+12         1.71977e+12
2    17/06/2024 23:33 17/06/2024 23:46 1.71867e+12         1.71867e+12
3    25/07/2024 17:34 25/07/2024 17:57 1.72193e+12         1.72193e+12
⋮    ⋮                ⋮                ⋮                   ⋮
1533 28/07/2024 15:36 28/07/2024 15:57 1.72218e+12         1.72218e+12
1534 25/07/2024 06:15 25/07/2024 06:22 1.72189e+12         1.72189e+12
1535 20/05/2024 02:26 20/05/2024 02:45 1.71617e+12         1.71617e+12

Merge the datasets on hashedEmail using the inner_join() function. This is useful for combining player characteristics with their session data, which is essential to analyze how player behavior (from sessions.csv) relates to subscription status (from players.csv).

In [92]:
merged_data <- inner_join(players, sessions, by = "hashedEmail")
merged_data

     experience subscribe
1    Pro        TRUE
2    Pro        TRUE
3    Pro        TRUE
⋮    ⋮          ⋮
1533 Amateur    FALSE
1534 Amateur    FALSE
1535 Pro         TRUE
     hashedEmail
1    f6daba428a5e19a3d47574858c13550499be23603422e6a0ee9728f8b53e192d
2    f6daba428a5e19a3d47574858c13550499be23603422e6a0ee9728f8b53e192d
3    f6daba428a5e19a3d47574858c13550499be23603422e6a0ee9728f8b53e192d
⋮    ⋮
1533 f19e136ddde68f365afc860c725ccff54307dedd13968e896a9f890c40aea436
1534 f19e136ddde68f365afc860c725ccff54307dedd13968e896a9f890c40aea436
1535 d9473710057f7d42f36570f0be83817a4eea614029ff90cf50d8889cdd729d11
     played_hours name   gender Age start_time       end_time
1    30.3         Morgan Male   9   08/08/2024 00:21 08/08/2024 01:35
2    30.3         Morgan Male   9   09/09/2024 22:30 09/09/2024 22:37
3    30.3         Morgan Male   9   08/08/2024 02:41 08/08/2024 03:25
⋮    ⋮            ⋮      ⋮      ⋮   ⋮                ⋮
1533 2.3          Harlow Male   17  23/08/2024 21:39 23/08/2024 21:53
1534 2.3          Harlow Male   17  08/09/2024 19:40 08/09/2024 19:45
1535 0.2          Ahmed  Other  NA  08/05/2024 19:29 08/05/2024 19:44
     original_start_time original_end_time
1    1.72308e+12         1.72308e+12
2    1.72592e+12         1.72592e+12
3    1.72308e+12         1.72309e+12
⋮    ⋮                   ⋮
1533 1.72445e+12         1.72445e+12
1534 1.72582e+12         1.72582e+12
1535 1.71520e+12         1.71520e+12

View your new data frame, by using the glimpse() function.

In [93]:
glimpse(merged_data)

Rows: 1,535
Columns: 11
$ experience          <chr> "Pro", "Pro", "Pro", "Pro", "Pro", "Pro", "Pro", "…
$ subscribe           <lgl> TRUE, TRUE, TRUE, TRUE, TRUE, TRUE, TRUE, TRUE, TR…
$ hashedEmail         <chr> "f6daba428a5e19a3d47574858c13550499be23603422e6a0e…
$ played_hours        <dbl> 30.3, 30.3, 30.3, 30.3, 30.3, 30.3, 30.3, 30.3, 30…
$ name                <chr> "Morgan", "Morgan", "Morgan", "Morgan", "Morgan", …
$ gender              <chr> "Male", "Male", "Male", "Male", "Male", "Male", "M…
$ Age                 <dbl> 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9,…
$ start_time          <chr> "08/08/2024 00:21", "09/09/2024 22:30", "08/08/202…
$ end_time            <chr> "08/08/2024 01:35", "09/09/2024 22:37", "08/08/202…
$ original_start_time <dbl> 1.72308e+12, 1.72592e+12, 1.72308e+12, 1.72598e+12…
$ original_end_time   <dbl> 1.72308e+12, 1.72592e+12, 1.72309e+12, 1.72598e+12…

In [96]:
merged_data_1 <-  merged_data |>
  mutate(
    start_time = dmy_hm(start_time),
    end_time = dmy_hm(end_time),
    session_length_min = as.numeric(difftime(end_time, start_time, units = "mins"))   
  )
merged_data_1

     experience subscribe
1    Pro        TRUE
2    Pro        TRUE
3    Pro        TRUE
⋮    ⋮          ⋮
1533 Amateur    FALSE
1534 Amateur    FALSE
1535 Pro         TRUE
     hashedEmail
1    f6daba428a5e19a3d47574858c13550499be23603422e6a0ee9728f8b53e192d
2    f6daba428a5e19a3d47574858c13550499be23603422e6a0ee9728f8b53e192d
3    f6daba428a5e19a3d47574858c13550499be23603422e6a0ee9728f8b53e192d
⋮    ⋮
1533 f19e136ddde68f365afc860c725ccff54307dedd13968e896a9f890c40aea436
1534 f19e136ddde68f365afc860c725ccff54307dedd13968e896a9f890c40aea436
1535 d9473710057f7d42f36570f0be83817a4eea614029ff90cf50d8889cdd729d11
     played_hours name   gender Age start_time          end_time
1    30.3         Morgan Male   9   2024-08-08 00:21:00 2024-08-08 01:35:00
2    30.3         Morgan Male   9   2024-09-09 22:30:00 2024-09-09 22:37:00
3    30.3         Morgan Male   9   2024-08-08 02:41:00 2024-08-08 03:25:00
⋮    ⋮            ⋮      ⋮      ⋮   ⋮                   ⋮
1533 2.3          Harlow Male   17  2024-08-23 21:39:00 2024-08-23 21:53:00
1534 2.3          Harlow Male   17  2024-09-08 19:40:00 2024-09-08 19:45:00
1535 0.2          Ahmed  Other  NA  2024-05-08 19:29:00 2024-05-08 19:44:00
     original_start_time original_end_time session_length_min
1    1.72308e+12         1.72308e+12       74
2    1.72592e+12         1.72592e+12        7
3    1.72308e+12         1.72309e+12       44
⋮    ⋮                   ⋮                 ⋮
1533 1.72445e+12         1.72445e+12       14
1534 1.72582e+12         1.72582e+12        5
1535 1.71520e+12         1.71520e+12       15

In [ ]:
text

In [99]:
# Aggregate session info per player
session_summary <- merged_data_1 |>
  group_by(hashedEmail) |>
  summarize(avg_session_length_min = mean(session_length_min, na.rm = TRUE), 
  num_sessions = n()
  )
session_summary


# Merge session summary back to player-level data
player_data <- inner_join(players, session_summary, by = "hashedEmail")
player_data

    hashedEmail
1   0088b5e134c3f0498a18c7ea6b8d77b4b0ff1636fc93355ccc95b45423367832
2   060aca80f8cfbf1c91553a72f4d5ec8034764b05ab59fe8e1cf0eee9a7b67967
3   0ce7bfa910d47fc91f21a7b3acd8f33bde6db57912ce0290fa0437ce0b97f387
⋮   ⋮
123 fd6563a4e0f6f4273580e5fedbd8dda64990447aea5a33cbb5e894a3867ca44d
124 fe218a05c6c3fc6326f4f151e8cb75a2a9fa29e22b110d4c311fb58fb211f471
125 fef4e1bed8c3f6dcd7bcd39ab21bd402386155b2ff8c8e53683e1d2793bf1ed1
    avg_session_length_min num_sessions
1   53                     2
2   30                     1
3   11                     1
⋮   ⋮                      ⋮
123 15.46774               310
124  9.00000                 1
125 72.00000                 1

    experience subscribe
1   Pro         TRUE
2   Veteran     TRUE
3   Veteran    FALSE
⋮   ⋮          ⋮
123 Amateur    FALSE
124 Amateur    FALSE
125 Pro         TRUE
    hashedEmail
1   f6daba428a5e19a3d47574858c13550499be23603422e6a0ee9728f8b53e192d
2   f3c813577c458ba0dfef80996f8f32c93b6e8af1fa939732842f2312358a88e9
3   b674dd7ee0d24096d1c019615ce4d12b20fcbff12d79d3c5a9d2118eb7ccbb28
⋮   ⋮
123 d572f391d452b76ea2d7e5e53a3d38bfd7499c7399db299bd4fedb06a46ad5bb
124 f19e136ddde68f365afc860c725ccff54307dedd13968e896a9f890c40aea436
125 d9473710057f7d42f36570f0be83817a4eea614029ff90cf50d8889cdd729d11
    played_hours name      gender            Age avg_session_length_min
1   30.3         Morgan    Male               9  74.77778
2    3.8         Christian Male              17  85.00000
3    0.0         Blake     Male              17   5.00000
⋮   ⋮            ⋮         ⋮                 ⋮   ⋮
123 0.0          Dylan     Prefer not to say 17   5.00000
124 2.3          Harlow    Male              17  29.83333
125 0.2          Ahmed     Other             NA  15.00000
    num_sessions
1   27
2    3
3    1
⋮   ⋮
123 1
124 6
125 1

text

In [101]:
model_data <- player_data |>
  select(subscribe, experience, played_hours, Age, gender, avg_session_length_min, num_sessions) |>
  drop_na()
model_data

    subscribe experience played_hours Age gender
1    TRUE     Pro        30.3          9  Male
2    TRUE     Veteran     3.8         17  Male
3   FALSE     Veteran     0.0         17  Male
⋮   ⋮         ⋮          ⋮            ⋮   ⋮
121 FALSE     Veteran    0.3          22  Male
122 FALSE     Amateur    0.0          17  Prefer not to say
123 FALSE     Amateur    2.3          17  Male
    avg_session_length_min num_sessions
1   74.77778               27
2   85.00000                3
3    5.00000                1
⋮   ⋮                      ⋮
121 21.00000               1
122  5.00000               1
123 29.83333               6

text

In [102]:
model_data <- model_data |>
  mutate(subscribe = as.factor(subscribe))
model_data

    subscribe experience played_hours Age gender
1   TRUE      Pro        30.3          9  Male
2   TRUE      Veteran     3.8         17  Male
3   FALSE     Veteran     0.0         17  Male
⋮   ⋮         ⋮          ⋮            ⋮   ⋮
121 FALSE     Veteran    0.3          22  Male
122 FALSE     Amateur    0.0          17  Prefer not to say
123 FALSE     Amateur    2.3          17  Male
    avg_session_length_min num_sessions
1   74.77778               27
2   85.00000                3
3    5.00000                1
⋮   ⋮                      ⋮
121 21.00000               1
122  5.00000               1
123 29.83333               6